$body_font_color: #575757;
$top_bar_color: #211E1E;/* colors that sounds good: #033C76;#211E1E;#900D05;#2C5573;*/
$notification_center_width: 50px;
$footer_height: 20px;
$container_fixed_width: 1300px;